{% extends "base.html" %}

{% block sidebar %}
    
    <ul>
        <li><a href="/blogs/all">Мэдээ</a></li>
        <li><a href="/blogs/create">Мэдээ нэмэх</a></li>
    </ul>

{% endblock %}

{% block content %}

<h2>Language is: {{language}}</h2>

<h2>Session Language is: {{session_language}}</h2>

{% if blogs.count > 0 %}

{% for blog in blogs %}
<div>
    <h2><a href="/blogs/get/{{ blog.id }}/">
        {{blog.title}}    
    </a>
    </h2>
    <p>{{blog.body|lower|truncatewords:"10"}}</p>
</div>
{% endfor %}

{% else %}

<p>None to show!</p>

{% endif %}

{% endblock %}

    