{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p class="error">Уучлаарай, Хэрэглэгчийн нэр эсвэл нууц үг буруу байна!</p>
    {% endif %}
    
    <form action="/accounts/auth/" method="post">{% csrf_token %}
        <label for="username">Хэрэглэгчийн нэр:</label>
        <input type="text" name="username" value="" id="username"/>
        <label for="password">Нууц үг:</label>
        <input type="password" name="password" value="" id="password"/>
        <input type="submit" value="Нэвтрэх"/>
    </form>
    
{% endblock %}
    